/*oculta el powered by mintlify*/
footer a[href*="mintlify.com"] {
  display: none !important;
}

/* oculta el boton de idiomas de la izquierda*/
#localization-select-trigger {
  display: none !important;
}

/* oculta la pestaña guía
a.nav-tabs-item[href="/es/intro"] {
  display: none !important;
}
  */